data/*.zip
code/__pycache__
data/DIV2K_valid_HR
data/DIV2K_valid_HR_outputs
data/DIV2K_valid_HR_outputs/Dense_D=3
data/DIV2K_valid_HR_outputs/Dense_D=6
data/DIV2K_valid_HR_outputs/Dense_D=1
data/DIV2K_valid_HR_outputs/Basic_D=6
data/DIV2K_valid_HR_outputs/Residual_D=1
data/COCO_valid_HR_outputs
checkpoints
real/
